<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>

<title>Existing Login Form a Flat Responsive Widget Template :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />

<!-- Style --> <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>LOGIN FORM</h1>



	<div class="w3layoutscontaineragileits">
	<h2>Login here</h2>
		<!-- /login?error=true -->
		<div th:if="${#request.getParameter('error') == 'true'}"
			 style="color:red;margin:10px 0px;">
			Login Failed!!!<br />
			Reason :
			<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
				  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

		</div>
		<form name='login-form' th:action="@{/login}" method='POST'>
			<input type="text" name="username" placeholder="USER NAME" required="">
			<input type="password" name="password" placeholder="PASSWORD" required="">
			<ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" name="remember-me" id="brand1">
					<label for="brand1"><span></span>Remember me</label>
				</li>
			</ul>
			<div class="aitssendbuttonw3ls">
				<input type="submit" value="LOGIN">
				<p> To register new account <span>→</span> <a class="w3_play_icon1" href="#small-dialog1"> Click Here</a></p>
				<div class="clear"></div>
			</div>
		</form>
	</div>

	
	<div class="w3footeragile">
		<p> &copy; 2021 Login Form. All Rights Reserved | Fixed by <a href="http://w3layouts.com" target="_blank">PhucLee</a></p>
	</div>

	
	<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>

	<!-- pop-up-box-js-file -->
<!--	<link rel="stylesheet" href="magnific-popup/magnific-popup.css">-->
	<!--//pop-up-box-js-file -->
<!--	<script>-->
<!--		$(document).ready(function() {-->
<!--		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({-->
<!--			type: 'inline',-->
<!--			fixedContentPos: false,-->
<!--			fixedBgPos: true,-->
<!--			overflowY: 'auto',-->
<!--			closeBtnInside: true,-->
<!--			preloader: false,-->
<!--			midClick: true,-->
<!--			removalDelay: 300,-->
<!--			mainClass: 'my-mfp-zoom-in'-->
<!--		});-->
<!--																		-->
<!--		});-->
<!--	</script>-->

</body>
<!-- //Body -->

</html>