<h2 style="text-align: center">List Customer</h2>
<a [routerLink]="'create'"  style="color: forestgreen;display: flex; justify-content: center"><i class="fas fa-user-plus"></i>Add</a>
<div class="d-flex">
  <input class="form-control mr-3" type="text" placeholder="Search name" style="width: 200px" [(ngModel)]="term">
  <button class="btn btn-outline-success" ><i class="fa fa-search" ></i></button>
</div>
<table id="example" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Type</th>
      <th scope="col">Name</th>
      <th scope="col">Birth</th>
      <th scope="col">CMND</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList |filter:term | paginate: { itemsPerPage: 3, currentPage: curPage}">
    <td>{{customer.id}}</td>
    <td>{{customer.idCustomerType.name}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.CMND}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>
        <a [routerLink]="['edit', customer.id]" ><i class="fas fa-edit"></i></a>
    </td>
    <td>
        <a (click)="deleteCustomer(customer.id)" style="margin-left: 20px; color: red"><i class="fas fa-trash-alt"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="curPage = $event"></pagination-controls>
<!--<script>-->
<!--  $(document).ready(function() {-->
<!--    $('#example').DataTable();-->
<!--  } );-->
<!--</script>-->

