<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout::head}">
<title>Create Customer</title>
</head>
<body>
<form action="/customer/create" method="post" th:object="${customer}">
    <div>
        <label>Name:</label>
        <input class="form-control" type="text"  th:field="*{customerName}"/>
    </div>
    <div>
        <label>Customer Type</label>
        <select th:field="*{customerTypeId.customerTypeId}" class="form-control" id="Order" name="Order">
            <option th:each="customerType : ${customerType}"
                    th:value="${customerType.customerTypeId}"
                    th:text="${customerType.customerTypeName}">
            </option>
        </select>
    </div>
    <div>
        <label>Birthday:</label>
        <input type="text" class="form-control" th:field="*{customerBirthday}"/>
    </div>
    <div class="form-check form-check-inline">
        <label>Gender:    </label>
        <input type="radio" th:field="*{customerGender}" value="0" />Female
        <input type="radio" th:field="*{customerGender}" value="1" />Male
        <input type="radio" th:field="*{customerGender}" value="2" />LGBT
    </div>
    <div>
        <label>Id Card:</label>
        <input type="text" class="form-control" th:field="*{customerIdCard}"/>
    </div>
    <div>
        <label>Phone:</label>
        <input type="text" class="form-control" th:field="*{customerPhone}"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" class="form-control" th:field="*{customerEmail}"/>
    </div>
    <div>
        <label>Address:</label>
        <input type="text" class="form-control" th:field="*{customerAddress}"/>
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 10px">
        <button style="margin-right: 3px" class="btn btn-primary" type="submit" value="Create">Create</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</form>
</body>
</html>